= form_for @photo do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :small
    = f.text_field :small
  .field
    = f.label :medium
    = f.text_field :medium
  .field
    = f.label :large
    = f.text_field :large
  .actions
    = f.submit 'Save'
