%p#notice= notice

%p
  %b Id:
  = @photo.id
%p
  %b Small:
  = link_to @photo.small, @photo.small
%p
  %b Medium:
  = link_to @photo.medium, @photo.medium
%p
  %b Large:
  = link_to @photo.large, @photo.large

= link_to 'Back', photos_path
