%p#notice= notice

%p
  %b Name:
  = @photo.name
%p
  %b Original:
  = link_to @photo.original, @photo.original
%p
  %b Small:
  = link_to @photo.small, @photo.small
%p
  %b Medium:
  = link_to @photo.medium, @photo.medium
%p
  %b Large:
  = link_to @photo.large, @photo.large

= link_to 'Back', photos_path
